.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color : #000;
}

.about-paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-subtitle {
  margin-top: 80px;
  font-size: 1.8rem;
  color : #000;
}

.about-list {
  font-size: 1.1rem;
  line-height: 1.6;
  padding-left: 20px;
  list-style-type: disc;
}
